body{margin:0;padding:0;background:#ffffff;font-size:20px;overflow:auto}
body{margin:0;padding:0;background:rgb(255, 255, 255);font-size:20px;overflow:auto;height:100%;background-size: cover;}
body{margin:0;padding:0;
	background-image:url(../bg.jpg);
  background-position:100% 0%;
/*  background-size:100% 100%;*/
  background-size:height:100%;background-size: cover;
	 background-attachment:fixed;
  background-repeat: repeat-y;	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
/*
	-moz-background-size:100% 100%;
	background-size:100% 100%;
*/
  display: block;
  height: auto;
  max-width: 100%;
	font-size:12px;overflow:auto
  
}


#mainDiv{width:100%;height:100%}
#loveHeart{float:left;width:670px;height:625px}
#garden{width:100%;height:100%;position:20% 0%;
}
#elapseClock{text-align:right;font-size:18px;margin-top:10px;margin-bottom:10px}
#words{font-family:"sans-serif";width:500px;font-size:24px;color:#0d16ff}
#messages{display:none; text-align:center; color:#ffff00;}
#elapseClock .digit{font-family:"digit";font-size:36px}
#loveu{padding:5px;font-size:22px;margin-top:80px;margin-right:120px;text-align:right;display:none}
#loveu .signature{margin-top:10px;font-size:20px;font-style:italic}
#clickSound{display:none}
#code{float:left;width:600px;height:600px;color:#fff8f8;font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";font-size:20px}
#code .string{color:#2a36ff}
#code .keyword{color:#fffcfc;font-weight:bold}
#code .placeholder{margin-left:15px}#code .space{margin-left:7px}
#code .comments{color:#fff500}
#copyright{margin-top:10px;text-align:center;width:100%;color:#0e00b2}
#errorMsg{width:100%;text-align:center;font-size:24px;position:absolute;top:100px;left:0}
#copyright a{color:#1225ff}